body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.filter{
    display: flex;
    justify-content: flex-start;    
    margin-bottom: 20px;   
    width: 100%;
}
.filter__chekbox{
    display:flex;
    margin: 0 10px; 
    align-items: center;   
}
.filter__chekboxName{
    margin-right: 5px;
}

.header__menu-container{
    display: flex;
    align-items: center;
}

.orders{
    margin-top: 30px;
    margin-bottom: 10px;
}
.header-admin{
   background: black;
}
.header-admin__menu{
    margin: 0 auto;
}
.user{
    margin-top: 10px;
}