@model WebStore.WebUi.Models.AuthenticationParamsViewModel

@{
    ViewBag.Title = "Register";
    ViewBag.Header = "Форма для регистрации";

}

@section login {   
    
 @Html.ActionLink("Логин", "LogIn", "Authentication")
    
}

@using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
{
    <div class="user-login">
        <table class="aligned-table table">
            <tr>
                <td>
                    Логин:
                </td>
                <td style="width: 60%;">
                    @Html.TextBoxFor(x => x.User, new { id = "user", name = "user", style = "width: 100%" })
                </td>
            </tr>
        </table>
    </div>
    <div class="user-password">
        <table class="aligned-table table">
            <tr>
                <td>
                    Пароль:
                </td>
                <td style="width: 60%;">
                    @Html.PasswordFor(x => x.Password, new { id = "password", name = "password", style = "width: 100%" })
                </td>
            </tr>
        </table>
    </div>

    <div class="error-messages">
        @Html.ValidationSummary(false)
    </div>
    <input type="submit" value="Register" style="width: 100px; margin: 0 0 0 45%;" />
}

