@model WebStore.WebUi.service.ProductsService


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Count</th>
    </tr>


    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Count</td>
    </tr>


</table>
