@model IEnumerable<WebStore.WebUi.Areas.Admin.Models.GroupViewModel>

@{
    Layout = null;
}

<div class="group">
    @foreach(var group in Model )
    {
        <div class="group__id">
            @group.Id
        </div>
        <div class="group__name">
            @group.Name
        </div>
        <div class="group__edit">@Html.ActionLink("Изменить", "EditGroup", new { id = user.Id})</div>
        <div class="group__delete">@Html.ActionLink("Удалить", "DeleteGroup", new { id = user.Id })</div>        
    }    
</div>
