
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="users">
        @Html.Action("Users", "Admin")
    </div>
    
</body>
</html>
